<div class="box">
<h1 class='top-heading'>ようこそ Bookers へ！</h1>

<div class="explanation-box">
<p class="explanation"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>

  印象を共有し交換することができます</p>

<%= link_to'start',bookers_path %>
</div>